<header>
    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top" style="border-style: none; box-shadow: none;">
        <!-- Container wrapper -->
        <div class="container-fluid">
          <!-- Toggle button -->
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#sidebarMenu"
            aria-controls="sidebarMenu"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
    
          <!-- Brand -->
          <a class="navbar-brand" href="#">
            <img
            src='../../../assets/Alumini_logo-.png'
            height="50"
            alt="Alumini"
              loading="lazy"
            />
          </a>
         
    
          <!-- Right links -->
          <ul class="navbar-nav ms-auto d-flex align-items-center">
            <!-- Notification dropdown -->
            <li class="nav-item dropdown me-3">
              <!-- <a
                class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-mdb-toggle="dropdown"
                aria-expanded="false"
              > -->
                <i class="fas fa-bell"></i>
                <span class="badge rounded-pill badge-notification bg-danger">1</span>
                <li class="nav-item">
                  <a class="nav-link" href="#" id="messageDropdown" role="button">
                    <i class="fas fa-comment-dots me-3"></i> 
                  </a>
                </li>
    
           
    
            <!-- Avatar -->
            <div class="dropdown">
              <a
                  class="text-reset me-3 dropdown-toggle hidden-arrow"
                  href="#"
                  id="navbarDropdownDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
              >
                  <span class="me-3"> Rutuja Gherade</span>    
                  <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                  class="rounded-circle"
                  height="22"
                  alt="Avatar"
                  loading="lazy"
                />
              </a>
              
              <ul
                  class="dropdown-menu dropdown-menu-end"
                  aria-labelledby="navbarDropdownDropdown"
              >
                  <!-- Add dropdown items here -->
                  <li><a class="dropdown-item" >Edit Profile</a></li>
                  <li><a class="dropdown-item" >Membership Card</a></li>
                  <li><a class="dropdown-item">Product Blog</a></li>
                  <li><a class="dropdown-item">Change Password</a></li>
                  <li><a class="dropdown-item">Logout</a></li>
              </ul>
          </div>
           
            
            
          </ul>
        </div>
       
        <!-- Container wrapper -->
      </nav>
   
      <!-- Navbar -->
    </header>
