a{
    cursor: pointer; 
}

a:hover{
    font-size: 1.04rem;
    color: #007EA7;
}

.button{
    background-color: #007EA7;
}


.button:hover{
    background-color: #003459;
}



.file{
    height: 2.7rem;
    color: #003459;
}


input::file-selector-button {
    font-weight: bold;
    color: black;
    background-color: #007EA7;
    padding: 0.5em;
    border: thin solid grey;
    border-radius: 6px;
    height: 2.7rem;
}


.pInputText:hover {
    border-color: #007EA7;
}

.pInputText:focus {
    border-color: #003459;
}

.icon-view{
    font-size: 1.7rem;
    color: #007EA7;
    font-weight: 800;
    cursor: pointer;
}

.icon-delete {
    font-size: 1.7rem;
    color: rgb(222, 56, 56);
    font-weight: 800;
    cursor: pointer;
}

.required {
    color: red;
    font-size: 15px;
}

