<!-- reset Password -->
<div class="man" *ngIf="urlTokenType !== 'checkEmail' && urlTokenType !== 'invalidLink' && urlTokenType !== 'expiredLink' ">

    <div class="backgroud"></div>

    <div class="containe">
        <div class="rightlaer"></div>

        <div class="z3">
            <div class="about">
                <img width="100" height="100" src="https://img.icons8.com/bubbles/100/trophy.png" alt="trophy" />
                <h3>don't have an acount ? <a  [routerLink]="'/auth/sign-up/register'">Sign up</a> </h3>
            </div>
            <form cForm [formGroup]="resetPasswordForm">

                <h2>Reset Password</h2>

                <br>

                <div class="input-container">
                    <input autocomplete="off" type="password" id="password" required="" formControlName="password">
                    <label for="password">Password</label>
                    <b *ngIf="!resetPasswordForm.get('password')?.valid && (resetPasswordForm.get('password')?.dirty ||resetPasswordForm.get('password')?.touched)">
                        <div [hidden]="!resetPasswordForm.get('password')?.errors?.['required']">Password is required</div>
                        <div [hidden]="!resetPasswordForm.get('password')?.errors?.['minlength']">The minimum password length is 6 characters</div>
                    </b>
                </div>
                <div class="input-container">
                    <input autocomplete="off" type="password" id="confirmPassword" required="" formControlName="confirmPassword">
                    <label for="confirmPassword">Confirm Password</label>
                    <b *ngIf="!resetPasswordForm.get('confirmPassword')?.valid && (resetPasswordForm.get('confirmPassword')?.dirty ||resetPasswordForm.get('confirmPassword')?.touched)">
                        <div [hidden]="!resetPasswordForm.get('confirmPassword')?.errors?.['required']">Conform Password is required</div>
                    </b>
                    <b *ngIf="resetPasswordForm.get('password')?.valid && (resetPasswordForm.get('confirmPassword')?.dirty ||resetPasswordForm.get('confirmPassword')?.touched)">
                        <div [hidden]="!this.resetPasswordForm?.errors?.['passwordNotMatch']">Passwords do not match.</div>
                    </b>
                </div>
                <br>
                <div class="bttn">
                    <button type="Submit" [ngClass]="{'disabled':resetPasswordForm.invalid }" (click)="onSubmit()">Reset Password</button>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Check your email -->
<div class="container mt-5" *ngIf="urlTokenType==='checkEmail'">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="card text-center">
              <div class="card-header">
                  Password Reset
              </div>
              <div class="card-body">
                  <h5 class="card-title">Check your email</h5>
                  <p class="card-text">We've sent you a link to reset your password. Please check your email inbox and follow the instructions in the email to reset your password.</p>
                  <a class="btn btn-primary" (click)="newResetPasswordLink()">Request a new link</a>
              </div>
              <div class="card-footer text-muted">
                  © 2023 Your Company Name
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Password Reset Link Expired -->
<div class="container mt-5" *ngIf="urlTokenType==='expiredLink'">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="card text-center">
              <div class="card-header">
                  Password Reset Link Expired
              </div>
              <div class="card-body">
                  <h5 class="card-title">Password Reset Link Expired</h5>
                  <p class="card-text">Oops! Your reset link has expired. To reset your password, return to the login page and click 'Forgot Password' for a new password reset link.</p>
                  <a class="btn btn-primary text-black" [routerLink]="'/auth/login'">Go back to the Login</a>
              </div>
              <div class="card-footer text-muted">
                  © 2023 Your Company Name
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Invalid Reset Password Link -->
<div class="container mt-5" *ngIf="urlTokenType==='invalidLink'">
  <div class="row">
      <div class="col-md-6 offset-md-3">
          <div class="card text-center">
              <div class="card-header">
                  Invalid Reset Password Link
              </div>
                <div class="card-body">
                  <h5 class="card-title">Invalid Link</h5>
                  <p class="card-text">Oops! Your password reset link has expired. It can only be used once. To reset your password, return to the login page and click 'Forgot Password' for a new password reset link.</p>
                  <a class="btn btn-primary text-black" [routerLink]="'/auth/login'">Go back to the Login</a>              </div>
                <div class="card-footer text-muted">
                  © 2023 Your Company Name
              </div>
          </div>
      </div>
  </div>
</div>